@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

body {
    background:#EFF1FA;
}

*{
    margin:0;
    padding:0;
    font-family:Inter, sans-serif;
    
}

.cabecalho {
    display: flex;
    justify-content:space-between;
    padding: 2%;
}

.titulo {
    text-align: center;
    color: #052051;
   


}

.cabecalho img {
    max-width: 70px;
    max-height: 70px;
    width:auto;
    height: auto;
    padding: 20px 0;
}


.container-input {
    display:flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input{
    width: 400px;
    height:330px;

}

.input textarea {
    font-size: 2em;
    font-family: "Inter";
    width: 100%;
    height: 340px;
    border: none;
    background-color: transparent;
    resize: none;
    color: #0A3871;
    text-transform: uppercase;
    outline: 0;
}



#output {
    display: flex;
    flex-direction:column;
    width: 350px;
    height:400px;
    margin-right: 10%;
}

#output h2 {
    text-align: center;
    font-size:24px;
    color: #343A40;
}

#output span{
    text-align: center;
    font-size: 18px;
    color: #495057;
    border: none;
    background-color: transparent;
    resize: none;
    outline: 0;
}

#output img {
    max-width: 300px;
    max-width:300px;
    width:auto;
    height: auto;
    margin-top:4%;
}

.container-btn button {
    background: #052051;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar {
    background: #052051;;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-btn button:hover {
    border: 2px solid rgb(3, 3, 83);
    transition: 1s all;
}

.rodape {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2%;
    margin-top: 50px;
    background: #052051 ;
}

.icons ion-icon{
    color: #FFFFFF;
    width:25px;
    height: 25px;

}

.icons ion-icon:hover{
    color: #5280fd;
    transition: 1s all;
}

.rodape p{
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 0;
}
